ul,li{
	list-style: none;
}
.grabbing { 
    cursor: grabbing; 
    cursor: -webkit-grabbing;
}
/*
====================================================
				Team
====================================================
*/
.team-item-container{
	padding: 15px;
}
.team-head{
	text-align: center;
	padding-bottom: 30px;
	text-transform: uppercase;
}
.team-item{
	width: 100%;
	border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 10px #e3e3e3;
	border-radius: 3px;
	margin-top: 10px;
	overflow: hidden;
}
.team-item:hover{
	box-shadow: 0px 5px 10px #b8b8b8;
}
.figure{
	padding: 0px !important;
	margin: 0px !important;
}
.team-member-image{
	width:100%;
	height: 250px;
}
.member-image{
	width: 100%;
	height: 100%;
	border-radius: 3px 3px 0px 0px;
	
}
.member-caption {
	/*border-bottom: 1px solid #e3e3e3;*/
	padding: 0px 20px 0px 15px;
}
.member-caption .member-image{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: inline-block;
	margin-top: 10px;
}
.member-caption .team-member-title{
	font-size: 16px !important;
	font-family: RalewayBold;
    margin-top: 15px 0px !important;
}
.member-skill{
	height: 10px;
	margin-bottom: 25px;
	line-height: 10px;
}
.skill-percent{
	top: 2px;
	height: 4px;
	position: relative;
	transition : all 0.5s linear;
}
.skill-percent-bg{
	position: absolute;
	width : 0px;
	height: 0px;
	top: 0px;
	left: 0px;
	height: 4px;
}
.skill-percent-num{
	position: absolute;
    left: 0;
    top: -10px;
    width: 4px;
    height: 20px;
    background-color: red;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
}
.skill-percentage{
	position: absolute;
	top: -25px;
	left: 0px;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
	line-height: 15px;
	font-family: RalewaySemiBoldItalic;
}
.skill-title{
	font-family: RalewaySemiBold;
	margin-bottom: 7px;
	margin-top: 5px;
}
.skill-title span{
	font-size: 13px !important;
}
/*Team Member Bottom*/
.team-item-bottom{
	position: relative;
	height: 70px;
}
.team-member-name{
	font-size: 16px !important;
    margin: 0px !important;
    position: relative;
    padding: 10px 0px;
    font-family: RalewayBold;
}
.team-member-name:after{
	position: absolute;
	bottom: 0;
	left: 35%;
	content: '';
	width: 80px;
	height: 2px;
}
.team-member-title{
	font-size: 12px !important;
	margin: 0px !important;
	padding: 0px !important;
}
.member-desc{
	padding: 0px 15px;
}
.member-caption .member-desc{
	text-align: center;
}
.memer-social{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -100%;
	left: 0px;
	transition : all 0.3s ease 0s;
	text-align: center;
}
.team-item:hover .memer-social{
	bottom: 0px;
	background-color: #fff;
}
.memer-social ul{
	display: inline-block;
	line-height: 70px;
}
.memer-social ul li{
	float: left;
	margin-left: 20px;
}
.memer-social ul li:first-child{
	margin-left: 0px;
}
.memer-social ul li a{
	text-decoration: none;
	transform : rotate(-45deg);
	width: 30px;
	height: 30px;
	display: inline-flex;
	transition : all 0.3s ease;
	border: 0px !important;
}
.memer-social ul li a i{
	padding: 8px;
	transform : rotate(45deg);
}
.memer-social ul li:hover a{
	background-color: #808080;
	color: #fff;
}

/*Slick*/
.slider-container .slick-dots{
	position: absolute;
	bottom: 50px;
	left: 50%;
	z-index: 999;
}
.slick-dots{
	width: auto;
	position: absolute;
	left: 50%;
	transform : translateX(-50%);
}
.slick-dots li{
	width: 9px;
	height: 9px;
    background-color: #808080;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots li.slick-active{
    background-color: #ff4081;
}
.slick-dots li button{
    display : none;
}
.slick-prev,
.slick-next{
	position: absolute;
	top: 50%;
	z-index: 99999;
}
.slick-prev{
	left: 15px;
}
.slick-next{
	right: 15px;
}
.slick-prev,
.slick-next{
	font-size: 40px;
    padding: 0px 35px;
    background-color: rgba(5,5,5,0.1);
    border-radius: 2px;
    color: #b8b8b8;
    transition : all 0.5s ease;
}
.slick-prev:hover,
.slick-next:hover{
	background-color: rgba(5,5,5,0.5);
	color: #e9e9e9;
}