#wp-team-meta-box{
	width: 100%;
	display: block;
	float: left;
}
.wp-team-container{
	background-color: #fff;
}
.form-group{
	width: 100%;
	margin: 15px 0px;
	float: left;
	display: block;
}
.form-group label{
	width: 100%;
	display: block;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #808080;
	font-size: 16px;
}
.form-group input{
	width: 45%;
	height: 40px;
	float: left;
	margin-right: 2%;
}
.form-group strong{
	color: green;
	display: inline-block;
	margin-top: 10px;
}
.form-group strong span{
	color: red;
	margin-right: 5px;
}

/*Settings*/

.settings-form-group{
	width: 100%;
	height: 100%;
	float: left;
}
.settings_label{
	width: 20%;
	height: 40px;
	float: left;
	margin-right: 15px;
}
.settings_label span{
	float: right;
}
.settings_field{
	width: 60%;
	height: 40px;
	float: left;
}
.settings_field input{
	margin-left: 15px;
}